<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h6>" Chúng tôi mang đến cho bạn các sản phẩm chất lượng, </h6>
        <h6>giúp bạn làm mới làn da và tận hưởng trải nghiệm làm đẹp tuyệt vời. "</h6>
    </div>

    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled> Danh mục sản phẩm</option>
            <option>Sữa rửa mặt</option>
            <option>Mặt nạ</option>
            <option>Tẩy da chết</option>
            <option>Kem chống nắng</option>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://down-vn.img.susercontent.com/file/b23d4910c00f2464b349675d95283432" 
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Mặt nạ sinh học Actiderm Bio Gel</h3>
                <p class="product-description">Mặt nạ sinh học Actiderm Bio Gel Mask dịu da giảm đỏ tức thì</p>
                <p class="product-warranty">3 Ngày trả hàng / Hoàn tiền</p>
                <p class="product-price">Giá: <del>180000 VND</del> 160000 VND</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<app-footer></app-footer>